.news-row {
  margin: 0 -10px; /* Add negative margin to counteract the padding on the Row */
  width: 100%;
}

/* Optional: Center the cards within each column */
.news-row .ant-col {
  display: flex;

}

.news-list-title {
  text-transform: uppercase;
}

