.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
  }

.register-form-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter';

}

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-form-button {
    width: 100%;
    background-color: black;
  }
  
  .register-form-forgot {
    float: right;
  }
  
  .register-form-button-wrapper {
    margin-top: 10px;
  }