/* Set global font family */
body {
  font-family: 'Inter', sans-serif;
}

/* Define main colors */
:root {
  --primary-color: rgba(33, 54, 78, 0.94); /* Adjust as needed */
  --background-color: #fff;
  --text-color: #000; /* Adjust as needed */
}

/* Apply colors to specific elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}


/* Add more global styles as needed */
