.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
  }

.signin-form-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter';
  padding-bottom: 20px;
}

.signin-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signin-form-button {
    width: 100%;
    background-color: black;
  }
  
  .signin-form-forgot {
    float: right;
  }
  
  .signin-form-button-wrapper {
    margin-top: 10px;
  }