/* Header.css */
.header-container {
  background: var(--primary-color);
  color: #fff;
  padding: 2.5rem 4rem; 
  align-items: center;
}

.header-container a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.header-container a:hover {
  text-decoration: underline;
}

.header-container a.active {
 
  color: #E77CF9;
}




